__pycache__/
src/resources/battleship128.png
src/resources/battleship16.png
src/resources/battleship256.png
src/resources/battleship32.png
src/resources/battleship512.png
src/resources/enemy128.png
src/resources/enemy16.png
src/resources/enemy24.png
src/resources/enemy256.png
src/resources/enemy32.png
src/resources/enemy512.png

