__pycache__/
resources/battleship128.png
resources/battleship16.png
resources/battleship24.png
resources/battleship256.png
resources/battleship32.png
resources/battleship512.png
resources/enemy128.png
resources/enemy16.png
resources/enemy24.png
resources/enemy256.png
resources/enemy32.png
resources/enemy512.png

